body{
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    font-family: "Anonymous Pro";
    font-size: 200%;
    background: #dd8169;
    transition: background-color 3s;
}

body::-webkit-scrollbar {
    background-color: transparent 
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 8px 0 0 8px;
}

body.page1, body.page15{
    background-color: #dd9769;
}

body.page2, body.page16{
    background-color: #ddc869;
}

body.page3, body.page17{
    background-color: #abdd69;
}

body.page4, body.page18{
    background-color: #69dd9d;
}

body.page5, body.page19{
    background-color: #69ddd3;
}

body.page20{
    background-color: #ddddee;

}

body.page6{
    background-color: #6971dd;
}

body.page7, body.page21{
    background-color: #9f69dd;
}

body.page8, body.page22{
    background-color: #dd69b1;
}

body.page9, body.page23{
    background-color: #dd8169;
}

body.page10, body.page24{
    background-color: #c8dd69;
}

body.page11, body.page25{
    background-color: #69dd99;
}

body.page12, body.page26{
    background-color: #69b8dd;
}

body.page13, body.page27{
    background-color: #7569dd;
}

body.page14, body.page28{
    background-color: #dd69dd;
}


h1{
    display: none;
}

body>section{
    height: 100vh;
}

body>section{
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vh 6vw;
    box-sizing: border-box;
}

body>section:first-of-type{
    flex-direction: row;
}

strong{
    color: rgb(59, 9, 105);
}

.dump pre code{
    font-size: 13px;
    white-space: normal;
    /* line-height: 0.1em; */
    width: 55vw;
    height: 70.5vh;
    display: block;
    word-break: break-all;
    overflow: hidden;
}

blockquote::before, blockquote::after{
    font-size: 300%;
}

blockquote::before{
    content: "❝";
    position: absolute;
    margin-left: -0.6em;
}

blockquote::after{
    content: "❞";
    float: right;
    margin-top: -0.7em;
}

img[src="mastodonblog.png"] {
    width: 60vw;
}

div.sourceCode {
    overflow: hidden !important;
}
